<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - QuizApp</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Your custom clean styles -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-light">
    <header class="border-bottom mb-4 bg-white">
        <div class="container d-flex align-items-center justify-content-between py-3">
            <a class="navbar-brand h3 text-decoration-none mb-0" asp-controller="Quiz" asp-action="Index">
                QuizApp
            </a>
        </div>
    </header>

    <main role="main" class="container mb-5">
        @RenderBody()
    </main>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)

    
</body>
</html>
